* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*scroll-behavior: smooth;*/
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 1000vh;
}

/***************************Banner Section*****************************************/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-size: cover;
}

.hero-image {
  width: 100%;
  min-height: 100vh;
}

.content {
  position: absolute;
  border-style: solid;
  border-color: #fff;
  width: 50%;
  top: 30%;
  left: 10%;
}

.content h1 {
  padding: 20px;
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  font-weight: normal;
}

/***************************Header Section*****************************************/
header {
  z-index: 1000;
  position: absolute;
  width: 100%;
  padding: 40px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: inline-block;
}

header .navigation {
  position: relative;
  display: flex;
  ;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  padding-bottom: 15px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
}

header .navigation li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 10px;
  transition: all 200ms;
}

header .navigation li a:hover::before {
  width: 60%;
}

/***************************Middle Section*****************************************/
.middle-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.middle-content {
  position: relative;
  display: flex;
  width: 80%;
  margin: 100px auto;
}

.middle-content img {
  min-width: 60%;
  height: 85%;
}

.middle-content2 {
  top: 30%;
  right: 0;
  width: 55%;
  position: absolute;
  background-color: #fff;
  padding: 80px;
}

.middle-content2 h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 20px;
}

.middle-content2 p {
  line-height: 2;
  font-weight: normal;
  color: #A2A2A2;
}

/***************************Creation Section*****************************************/
.creations {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.creations h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
}

.button {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  letter-spacing: 3px;
  font-size: 0.85rem;
  padding: 7px 40px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transition: all 200ms;
}

.button:hover {
  color: #fff;
  background-color: #000;
}

/***************************Gallery Section*****************************************/
.wrap {
  position: relative;
  width: 80%;
  margin: 80px auto;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background-size: 400% 400%;
  transition: .5s all;
}

.item img {
  mix-blend-mode: screen;
  opacity: .9;
}

.item:hover {
  transform: scale(1.0009);
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .3);
  background-position: 100% 100%;
}

.text {
  width: 15.9%;
  position: absolute;
  margin-top: 350px;
  margin-left: 35px;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}