* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*scroll-behavior: smooth;*/
}

body {
  font-family: 'Montserrat', sans-serif;
}

/***************************Banner Section*****************************************/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-size: cover;
}

.hero-image {
  width: 100%;
  min-height: 100vh;
}

.hero-image1 {
  display: none;
}

.content {
  position: absolute;
  border-style: solid;
  border-color: #fff;
  width: 50%;
  top: 30%;
  left: 10%;
}

.content h1 {
  padding: 20px;
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  font-weight: normal;
}

/***************************Header Section*****************************************/
header {
  z-index: 1000;
  position: absolute;
  width: 100%;
  padding: 40px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: inline-block;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  padding-bottom: 15px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
}


header .navigation li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 10px;
  transition: all .2s ease-out;
}

header .navigation li a:hover::before {
  width: 60%;
}

/***************************Middle Section*****************************************/
.middle-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.middle-content {
  position: relative;
  display: flex;
  width: 80%;
  margin: 100px auto;
}

.middle-content img {
  min-width: 60%;
  height: 85%;
}

.middle-content2 {
  top: 30%;
  right: 0;
  width: 55%;
  position: absolute;
  background-color: #fff;
  padding: 80px;
}

.middle-content2 h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 20px;
}

.middle-content2 p {
  line-height: 2;
  font-weight: normal;
  color: #A2A2A2;
}

/***************************Creation Section*****************************************/
.creations {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.creations h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
}

.button {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  letter-spacing: 3px;
  font-size: 0.85rem;
  padding: 7px 40px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transition: all 200ms;
}

.button:hover {
  color: #fff;
  background-color: #000;
}

/***************************Gallery Section*****************************************/
.wrap {
  position: relative;
  width: 80%;
  margin: 80px auto;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.earth2, .arcade2, .soccer2, .grid2, .above2, .pocket2, .curio2, .fish2 {
  display: none;
}

.item {
  position: relative;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background-size: 400% 400%;
  transition: .5s all;
}

.item img {
  mix-blend-mode: screen;
  opacity: .9;
}

.item:hover {
  transform: scale(1.0009);
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .3);
  background-position: 100% 100%;
}

.text {
  width: 15.9%;
  position: absolute;
  margin-top: 350px;
  margin-left: 35px;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.button1{
  display: none;
}

/***************************Footer Section*****************************************/
.footer-footer {
  background-color: #000;
  width: 100%;
  position: relative;
}

.footer-main {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
  height: 150px;
}

.footer-section-1 {
  float: left;
}

.footer-logo {
  width: 40%;
  margin-bottom: 20px;
}

.footer-section-1 .navigation-2 {
  position: relative;
  display: flex;
}

.footer-section-1 .navigation-2 li {
  list-style: none;
  margin-right: 30px;
  position: relative;
  padding-bottom: 15px;
}

.footer-section-1 .navigation-2 li a {
  font-weight: normal;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}

.footer-section-1 .navigation-2 li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 10px;
  transition: all .2s ease-out;
}

.footer-section-1 .navigation-2 li a:hover::before {
  width: 60%;
}

.footer-section-2 {
  float: right;
}

.footer-section-2 .navigation-3 {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.footer-section-2 .navigation-3 li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  padding-bottom: 15px;
}

.footer-section-2 .navigation-3 li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 5px;
  transition: all .2s ease-out;
}

.footer-section-2 .navigation-3 li a:hover::before {
  width: 50%;
}

.footer-section-2 p {
  font-weight: normal;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: #fff;
}

/***************************Mobile Responsiveness*****************************************/
@media screen and (min-width: 360px) and (max-width: 414px) {

  /*banner*/
  .hero-image {
    display: none;
  }

  .hero-image1 {
    width: 100%;
    display: block;
  }

  .content {
    width: 90%;
    top: 33%;
    left: 5%;
  }

  .content h1 {
    width: 80%;
    padding: 20px;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: lighter;
  }

  /*header*/
  header {
    padding: 50px 22px;
  }

  header .logo {
    width: 180px;
  }

  header .navigation {
    display: none;
  }

  /*middle*/
  .middle-content {
    position: relative;
    display: inline-block;
    width: 80%;
    margin-top: 100px;
    margin-left: 40px;
  }

  .middle-content img {
    width: 100%;
    height: 40%;
  }

  .middle-content2 {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    top: 0;
    padding: 0;
  }

  .middle-content2 h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  .middle-content2 p {
    font-weight: bold;
  }

  /*Creations*/
  .creations {
    text-align: center;
    justify-content: center;
    margin-bottom: -30px;
  }

  .creations h2 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 1px;
  }

.button{
  display: none;
}

  /*middle*/
  .wrap{
    margin-bottom: 20px;
  }
  .earth1, .arcade1, .soccer1, .grid1, .above1, .pocket1, .curio1, .fish1 {
    display: none;
  }

  .item {
    width: 100%;
  }

  .item img {
    width: 100%;
  }

  .earth2, .arcade2, .soccer2, .grid2, .above2, .pocket2, .curio2, .fish2 {
    display: flex;
    flex-flow: column;
  }

  .text {
    width: 45%;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 1.5rem;
    line-height: 1;
    text-shadow: 2px 2px 5px #000;
  }

  .button1 {
    display: inline-block;
    position: relative;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border-style: solid;
    letter-spacing: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 200ms;
    padding: 10px 50px;
    left: 0;
    margin-left: 110px;
  }

  .button1:hover {
    color: #fff;
    background-color: #000;
  }

  /*Footer*/
  .footer-main {
    padding: 0;
    margin-top: 100px;
    height: 100%;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-flow: column;
  }

  .footer-section-1 {
    margin-top: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    width: 50%;
  }

  .footer-section-1 ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0;
  }

  .footer-section-1 .navigation-2 li {
    margin: 10px 0;
  }

  .footer-section-1 .navigation-2 li a {
    font-size: 1rem;
    font-weight: bold;
  }

  .footer-section-2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .footer-section-2 ul {
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px auto;
  }

  .footer-section-2 .navigation-3 li {
    margin: 0;
  }

  .footer-section-2 .navigation-3 li a {
    padding-right: 20px;
  }

  .footer-section-2 p {
    color: #A2A2A2;
    font-size: .90rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }

}
